*{
		margin:0;
		padding:0;
		box-sizing:border-box;
	}
	.cont{
		display:flex;
		justify-content:center;
		padding:25px 20px 350px 10px;
	}
	.vis{
		width:250px;
		height:200px;
		background-color:lightgray;
		overflow:visible;
		padding:25px;
		margin:10px;
	}
	.aut{
		width:250px;
		height:200px;
		background-color:lightgray;
		overflow:auto;
		padding:25px;
		margin:10px;
	}
	.hid{
		width:250px;
		height:200px;
		background-color:lightgray;
		overflow:hidden;
		padding:25px;
		margin:10px;
	}
	.scr{
		width:250px;
		height:200px;
		background-color:lightgray;
		overflow:scroll;
		padding:25px;
		margin:10px;
	}
	.filter{
		display:flex;
		padding:10px 20px;
	}
	img{
		width:100%;
	}
	img:hover{
		width:110%;
	}
	p{
		text-align:center;
		font-size:20px;
	}
	p:hover{
		color:grey;
		font-size:30px;
	}
	.tr{
		padding:10px 20px;
	}
	.aa:hover{
		filter:blur(5px);
	}
	.ab:hover{
		filter:brightness(150%);
	}
	
	.ac:hover{
		filter:contrast(25%);
	}
	.ad:hover{
		filter:drop-shadow(5px 5px 2px gray);
	}
	.ae:hover{
		filter:grayscale(100%);
	}
	.ba:hover{
		filter:hue-rotate(90deg);
	}
	.bb:hover{
		filter:invert(100%);
	}
	.bc:hover{
		filter:opacity(30%);
	}
	.bd:hover{
		filter:saturate(10);
	}
	.be:hover{
		filter:sepia(50%);
	}
	